* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cart__hr {
    display: block;
    border: none;
    color: rgb(107, 99, 99);
    height: 2px;
    background: rgb(73, 71, 71);
    background: -webkit-gradient( radial, 50% 50%, 0, 50% 50%, 940, from(rgb(150, 147, 147)), to(#fff));
}

.row__wrapper {
    width: 85%;
}