@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.company-image {
    margin-left: 50px;
    margin-right: 50px;
    height: 50px;
    width: 70px;
    vertical-align: middle;
    text-decoration: none;
}

.navbar {
    height: 80px !important;
}

.menu__items {
    font-weight: 500;
    height: 80px;
    color: black !important;
    font-size: 18px;
    margin-left: 7px;
    margin-right: 7px;
    padding-top: 25px;
    font-family: "Roboto", sans-serif;
}

.menu__items:hover {
    border-bottom: red solid 4px;
}

.profile__text {
    font-size: 13px;
    font-weight: 500;
}

.profile__text:hover {
    cursor: pointer;
    font-weight: 650;
}

.wishlist__text {
    font-size: 13px;
    font-weight: 500;
}

.wishlist__text:hover {
    cursor: pointer;
    font-weight: 650;
}

.bag__text {
    font-size: 13px;
    font-weight: 500;
}

.bag__text:hover {
    cursor: pointer;
    font-weight: 650;
}