.thumbnail {
    object-fit: cover;
    max-width: 180px;
    max-height: 100px;
    cursor: pointer;
    opacity: 0.5;
    border: black 2px solid;
}

.hover__on {
    border: solid 3px brown;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.breadcrumb {
    background-color: rgb(235, 233, 233) !important;
    padding: 0px;
    margin: 0px;
    width: 100% !important;
}

.breadcrumb-item {
    font-size: 14px !important;
    font-weight: 400;
    font-style: inherit !important;
    color: gray;
}

.breadcrumb-item:hover {
    color: black !important;
    font-weight: 600;
}

.url__bd {
    text-decoration: none !important;
}

.active {
    opacity: 1;
}

.product__img {
    height: auto;
    max-width: 600px;
    max-height: 500px;
}

.slider__wrapper {
    height: auto;
    max-width: 150px;
    position: relative;
}

.slider {
    height: 400px !important;
    overflow: hidden;
}

.upper__arrow {
    position: absolute;
    top: 20px;
    left: 57.5px;
    z-index: 10;
    cursor: pointer;
}

.lower__arrow {
    position: absolute;
    top: 451px;
    left: 57.5px;
    z-index: 10;
    cursor: pointer;
}