@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap");
.thumbnail {
    object-fit: cover;
    max-width: 180px;
    max-height: 100px;
    cursor: pointer;
    opacity: 0.5;
    border: black 2px solid;
}

.hover__on {
    border: solid 3px brown;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.breadcrumb {
    background-color: rgb(235, 233, 233) !important;
    padding: 0px;
    margin: 0px;
    width: 100% !important;
}

.breadcrumb-item {
    font-size: 14px !important;
    font-weight: 400;
    font-style: inherit !important;
    color: gray;
}

.breadcrumb-item:hover {
    color: black !important;
    font-weight: 600;
}

.url__bd {
    text-decoration: none !important;
}

.active {
    opacity: 1;
}

.product__img {
    height: auto;
    max-width: 600px;
    max-height: 500px;
}

.product__img:hover {
    -webkit-box-shadow: 9px 12px 16px -7px rgba(64, 64, 64, 1);
    -moz-box-shadow: 9px 12px 16px -7px rgba(64, 64, 64, 1);
    box-shadow: 9px 12px 16px -7px rgba(64, 64, 64, 1);
}

.slider__wrapper {
    height: auto;
    max-width: 150px;
    position: relative;
    scroll-behavior: smooth;
    transition: 0.2s;
}

.slider {
    height: 400px !important;
    overflow: hidden;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    transition: 0.2s;
}

.upper__arrow {
    position: absolute;
    top: 20px;
    left: 57.5px;
    z-index: 10;
    cursor: pointer;
}

.upper__arrow :hover {
    opacity: 0.5;
}

.lower__arrow {
    position: absolute;
    top: 451px;
    left: 57.5px;
    z-index: 10;
    cursor: pointer;
}

.lower__arrow:hover {
    opacity: 0.5;
}

.product__name {
    font-size: 20px;
    height: auto;
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
    cursor: pointer;
}

.gradient__hrr {
    display: block;
    border: none;
    color: rgb(107, 99, 99);
    height: 2px;
    background: rgb(73, 71, 71);
    background: -webkit-gradient( radial, 50% 50%, 0, 50% 50%, 420, from(rgb(150, 147, 147)), to(#fff));
}

.price__text {
    font-size: 18px;
    font-weight: 500;
    height: auto;
    width: 100%;
    align-items: center;
}

.instruction__text {
    font-size: 18px;
    font-weight: 500;
    height: auto;
    width: 100%;
    align-items: center;
    cursor: pointer;
}

.instruction__icon {
    margin-left: 410px;
}

.collapse__text {
    text-decoration: none;
}

.collapse__text ul li {
    list-style-type: none;
    margin-left: 10px;
    text-overflow: inherit;
    font-size: 12px;
    font-weight: 400;
    padding: 0px;
    font-family: "Roboto Mono", monospace;
}

.size__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.available__size {
    height: 30px;
    width: 30px;
    /* background-color: rgb(49, 47, 47); */
    border-radius: 12px;
    font-weight: 600;
    color: black;
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
    align-items: center;
    font-size: 19px;
}

.available__size:hover {
    background-color: gray;
    border: 1px solid black;
    color: whitesmoke;
    transition: 0.1s;
}

.selected__size {
    background-color: gray;
    border: 1px solid black;
    color: whitesmoke;
    transition: 0.1s;
}