    <!DOCTYPE html>
    <html lang="en">
    <head>
        {% load static %}
        {% load humanize %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EShop | {% block title %}{% endblock title %}</title>
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
        <link href='{% static "plugins/bootstrap-datetimepicker/tempusdominus-bootstrap-4.css" %}' rel="stylesheet">
        <link href='{% static "css/plugins.css" %}' rel="stylesheet">
        <link href='{% static "fonts/fontawesome-free-5.13.0-web/css/all.css" %}' rel="stylesheet">
    </head>
    <body>
        
        <div class="body-inner border border-danger">
            <div id="topbar" class="topbar-transparent topbar-fullwidth dark d-none d-xl-block d-lg-block">
                topbar
            </div>
        </div>

    </body>
    </html>