{% extends 'shop/base.html' %}

{% block title %}Cart{% endblock title %}

{% block content %}
    
    <!-- breadcrumb div -->
    <div class="container my-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}" class="url__bd"><span class="breadcrumb-item">Home</span></a></li>
            <li class="breadcrumb-item active" aria-current="page"><span class="breadcrumb-item">My Cart</span></a></li></li>
        </ol>
    </div>
    <!-- breadcrumb div ends here-->

    <hr class="cart__hr">


    <div class="row__wrapper mx-auto">
        <div class="row w-100 no-gutters justify-content-between">
            <div class="col-md-7">
                <table class="table table-hover table-bordered table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Image</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total Price</th>
                            <th>Delete Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                            <tr>
                                <td>{{item.image}}</td>
                                
                                <td>
                                    <a href="{% url 'product' item.product_id.slug %}"><span class="product__name">{{item.product_id}}</span></a><br>
                                    <span class="item__details">Size : {{ item.size_id }}</span><br>
                                    <div class="row w-100 no-gutters">
                                        <div class="col-md-3 no-gutters item__details" style="">Color: </div>
                                        <div class="item__clr no-gutters" style="background-color: {{item.color_id}}; margin-left:5px;" value="{{item.color_id}}"></div>
                                    </div>
                                </td>
                                
                                <td>
                                    <div class="row w-100 qty__div align-items-center no-gutters justify-content-between text-center">
                                        
                                        <div id="main-{{item.id}}" class="col-md-2 no-gutters">
                                            <span id="item-{{item.id}}" class="item__qty" value="{{item.quantity}}">{{item.quantity}}</span>
                                        </div>

                                        <div class="col-md-8 h-100 icon__wrapper d-flex flex-column">
                                            <i class="fas fa-2x fa-caret-up up__icon" value="{{item.id}}"></i>
                                            <i class="fas fa-2x fa-caret-down down__icon" value="{{item.id}}"></i>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="price__amt">
                                        <span id="priceof-{{item.id}}" value="{{item.product_id.price | floatformat:2 }}">₹ {{item.product_id.price | floatformat:2 }}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="total__amount-{{item.id}}">
                                        <span id="amountof-{{item.id}}">₹ {{item.total_price | floatformat:2 }}</span>
                                    </div>
                                </td>
                                <td><span value="{{item.id}}" class="btn text-center btn-outline-danger btn-sm delete__btn">Remove</span></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="row no-gutters w-100">
                    <div class="col-md-6 no-gutters total_cart_item">
                        Total Cart Items : {{total_cart_items}}
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 border border-danger">
                btn
            </div>
        </div>
    </div>


{% endblock content %}