{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="company-image p-0" src="{% static 'images/logo.png' %}" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link menu__items" href="#">Man</a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu__items" href="#">Boys</a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu__items" href="#">Baby</a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu__items" href="#">Girls</a>
      </li>
    </ul>

    {% comment %} <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> {% endcomment %}

    <div class="controller d-flex m-5">

        <div class="profile d-flex flex-column m-2">
            <div class="profile__icon mx-auto">
                <i class="fas fa-user"></i>
            </div>
            <div class="profile__text">
                Profile
            </div>
        </div>

        <div class="wishlist d-flex flex-column m-2">
            <div class="wishlist__icon mx-auto">
                <i class="fas fa-heart"></i>
            </div>
            <div class="wishlist__text">
                Wishlist
            </div>
        </div>

        <div class="d-flex flex-column m-2">
            <div class="bag__icon  mx-auto">
                <i class="fas fa-shopping-bag"></i>
            </div>
            <div class="bag__text">
                Bag
            </div>
        </div>


    </div>
  </div>
</nav>