{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="company-image p-0" src="{% static 'images/logo.png' %}" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link menu__items" href="#">Man</a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu__items" href="#">Boys</a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu__items" href="#">Baby</a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu__items" href="#">Girls</a>
      </li>
    </ul>

    <form>
        <div class="header__search">
            <i class="fa fa-search icon"></i>
            <input class="search__input" type="search" placeholder="Search for products..." aria-label="Search">
        </div>
    </form>

    <div class="controller d-flex">

        <div class="profile d-flex flex-column m-2 mx-auto">
            <div class="profile__icon mx-auto">
                <i class="fas fa-user"></i>
            </div>
            <div class="profile__text">
                Profile
            </div>
        </div>

        <div class="wishlist d-flex flex-column m-2 mx-auto">
            <div class="wishlist__icon mx-auto">
                <i class="fas fa-heart"></i>
            </div>
            <div class="wishlist__text">
                Wishlist
            </div>
        </div>

        <div class="d-flex flex-column m-2 mx-auto">
            <div class="bag__icon  mx-auto">
                <i class="fas fa-shopping-bag"></i>
            </div>
            <div class="bag__text">
                Bag
            </div>
        </div>

    </div>
  </div>
</nav>
<hr class="p-0 m-0 gradient__hr">