{% extends 'shop/base.html' %}
{% load static %}

{% block title %} Product {% endblock title %}

{% block content %}

    <br>
    <div class="container">
        <!-- main img-->
        <img class="product-img m-0 p-0" src="{% static 'images/1.jpg' %}" alt="">

        <!-- thumbnail img-->
        <img class="thumbnail active" src="{% static 'images/2.jpg' %}" alt="">
        <img class="thumbnail" src="{% static 'images/3.jpg' %}" alt="">
        <img class="thumbnail" src="{% static 'images/4.jpg' %}" alt="">
        <img class="thumbnail" src="{% static 'images/5.jpg' %}" alt="">
        <img class="thumbnail" src="{% static 'images/3.jpg' %}" alt="">
        <img class="thumbnail" src="{% static 'images/4.jpg' %}" alt="">
        <img class="thumbnail" src="{% static 'images/5.jpg' %}" alt="">
    </div>


{% endblock content %}

