{% extends 'shop/base.html' %}
{% load static %}

{% block title %} Product {% endblock title %}

{% block content %}
    
    <!-- breadcrumb div -->
    <div class="container my-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}" class="url__bd"><span class="breadcrumb-item">Category</span></a></li>
            <li class="breadcrumb-item active" aria-current="page"><span class="breadcrumb-item">Name</span></a></li></li>
        </ol>
    </div>
    <!-- breadcrumb div ends here-->

    {% comment %} <div class="col-md-5">
        <!-- image container-->
        <div class="container d-flex flex-row">
        
            <!-- thumbnail img-->
            <div class="slider__wrapper">
        
                <div class="slider">
                    <img class="thumbnail active" src="{% static 'images/2.jpg' %}" alt="">
                    <img class="thumbnail" src="{% static 'images/3.jpg' %}" alt="">
                    <img class="thumbnail" src="{% static 'images/4.jpg' %}" alt="">
                    <img class="thumbnail" src="{% static 'images/5.jpg' %}" alt="">
                    <img class="thumbnail" src="{% static 'images/3.jpg' %}" alt="">
                    <img class="thumbnail" src="{% static 'images/4.jpg' %}" alt="">
                    <img class="thumbnail" src="{% static 'images/5.jpg' %}" alt="">
                </div>

                <!-- main img-->
                <img class="product-img m-0 p-0" src="{% static 'images/1.jpg' %}" alt="">  
        
            </div>
        
        </div>
        <!-- image container ends here-->
    </div>

    <div class="col-md-5">
        <!-- product details container-->
        <div class="container border border-danger">
            xyz
        </div>
        <!-- product details container ends here-->
    </div> {% endcomment %}


    <div class="container-fluid border border-danger no-gutters mx-auto">

        <!-- one row and three columns -->
        <div class="row justify-content-between no-gutters">

            <!-- thumbnail images-->
            <div class="col-md-1 no-gutters">
                <div class="slider__wrapper w-100 no-gutters">
                    <div class="slider py-2">
                    <img class="my-1 thumbnail active" src="{% static 'images/2.jpg' %}" alt="">
                    <img class="my-1 thumbnail" src="{% static 'images/3.jpg' %}" alt="">
                    <img class="my-1 thumbnail" src="{% static 'images/4.jpg' %}" alt="">
                    <img class="my-1 thumbnail" src="{% static 'images/5.jpg' %}" alt="">
                    <img class="my-1 thumbnail" src="{% static 'images/3.jpg' %}" alt="">
                    <img class="my-1 thumbnail" src="{% static 'images/4.jpg' %}" alt="">
                    <img class="my-1 thumbnail" src="{% static 'images/5.jpg' %}" alt="">
                </div>
                </div>
            </div>

            <!-- main img-->
            <div class="col-md-4 ml-0 border border-info no-gutters">
                <img class="product__img w-100" src="{% static 'images/1.jpg' %}" alt="">
            </div>

            <div class="col-md-6 border border-success no-gutters">
                sxy
            </div>

        </div>
    </div>
  


{% endblock content %}

